[bed_mesh]
speed: 120
horizontal_move_z: 5
mesh_min: 10, 10
mesh_max: 210, 210
probe_count: 9, 9
fade_start: 1
fade_end: 10
mesh_pps: 0, 0
algorithm: bicubic
bicubic_tension: 0.2

[screws_tilt_adjust]
screw1: -16, 0
screw1_name: front left screw
screw2: 193, 0
screw2_name: front right screw
screw3: 193, 210
screw3_name: rear right screw
screw4:-16, 210
screw4_name: rear left screw
horizontal_move_z: 10.
speed: 50.
screw_thread: CW-M3


[z_tilt]
# Ender screw edge offsets are 35,35
# z_positions = IRL position of the stepper itself, in nozzle coords so will be off the bed at the back
# points = probe locations = nozzle + probe offset
# stepper X are 30mm off bed edge left & right
# stepper Y is 80 off the back when nozzle at Y=230 = 230+80
z_positions:
	-16, 100       ##Stepper Location Z0, as if the nozzle were in the screw
	193, 100       ##Stepper Location Z1, as if the nozzle were in the screw
points:
    -16, 100
    193, 100
speed: 100
horizontal_move_z: 8
retries: 20
retry_tolerance: 0.025

[gcode_macro Z_UP]
gcode:
    {% set Z = params.Z|default(0.01) %}
    SET_GCODE_OFFSET Z_ADJUST={Z} MOVE=1

[gcode_macro Z_DOWN]
gcode:
    {% set Z = params.Z|default(-0.01) %}
    SET_GCODE_OFFSET Z_ADJUST={Z} MOVE=1