
[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
variable_park: True
gcode:
    {% set park_y = printer.configfile.config["stepper_y"]["position_max"]|float - 10.0 %}

	M400								; wait for buffer to clear
    M107                                ; disable part cooling
    ## Move head and retract only if not already in the pause state and park set to true
    {% if printer.pause_resume.is_paused|lower == 'false' and park|lower == 'true'%}
        _TOOLHEAD_PARK_PAUSE_CANCEL
    {% endif %}
    TURN_OFF_HEATERS					; turn off heaters
    CANCEL_PRINT_BASE
    SDCARD_RESET_FILE
    # Raise nozzle by 30mm
    G91
    G1 Z30
    G90
    G1 X10 Y{park_y} F{60 * 100} ;Present print

    # Disable steppers
    M84
    SAVE_IF_SET                         ; save config


#==============================================
# PRINT_CANCEL
#==============================================
[gcode_macro PRINT_CANCEL]
gcode:
    {% set safe_z = params.safe_z|default(10) %}
    {% set park_y = printer.configfile.config["stepper_y"]["position_max"]|float - 10.0 %}
    M220 S100 ; Reset Speed factor override percentage to default (100%)
    M221 S100 ; Reset Extrude factor override percentage to default (100%)

    M106 S0 ;Turn-off fan
    M104 S0 ;Turn-off hotend
    M140 S0 ;Turn-off bed

    G91								; relative positions
	# retract if hot
    {% if printer.extruder.temperature > 170 %}
        G1 E-0.3 F3600				; Retract the filament a bit before lifting the nozzle
        G0 Z{safe_z} F3600                ; move to safe Z height
        G1 E-0.2 F3600				; Retract filament even more
    {% else %}
        G0 Z{safe_z} F3600			    	; raise Z
    {% endif %}

    _PARK_EXTRUDER PARK_Y={park_y}

	G90                             ; absolute positioning
	# raise z more
	{% set z = printer.toolhead.position.z|float %}
	{% if z < 50.0 %}
		{% set z = 50.0 %}
	{% elif (z + 5.0) > printer.configfile.config["stepper_z"]["position_max"]|float %}
		{% set z = printer.configfile.config["stepper_z"]["position_max"]|float %}
	{% else %}
		{% set z = z + 5.0 %}
	{% endif %}
	G0 Z{z}

    M84                                 ; turn off steppers

	M117 Done                 ; display message

[gcode_macro _TOOLHEAD_PARK_PAUSE_CANCEL]
description: Helper: park toolhead used in PAUSE and CANCEL_PRINT
gcode:
    ##### set defaults #####
    {% set x = params.X|default(10) %}      #edit to your park position
    {% set y = params.Y|default(10) %}      #edit to your park position
    {% set z = params.Z|default(10)|float %} #edit to your park position
    {% set e = params.E|default(0.3) %}        #edit to your retract length
    ##### calculate save lift position #####
    {% set max_z = printer.toolhead.axis_maximum.z|float %}
    {% set act_z = printer.toolhead.position.z|float %}
    {% set lift_z = z|abs %}
    {% if act_z < (max_z - lift_z) %}
        {% set z_safe = lift_z %}
    {% else %}
        {% set z_safe = max_z - act_z %}
    {% endif %}
    ##### end of definitions #####
    G91
    {% if printer.extruder.can_extrude|lower == 'true' %}
      G1 E-{e} F2100
    {% else %}
      {action_respond_info("Extruder not hot enough")}
    {% endif %}
    {% if "xyz" in printer.toolhead.homed_axes %}
      G1 Z{z_safe}
      G90
      G1 X{x} Y{y} F6000
    {% else %}
      {action_respond_info("Printer not homed")}
    {% endif %}


[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
gcode:
    PAUSE_BASE
    _TOOLHEAD_PARK_PAUSE_CANCEL

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
    ##### set defaults #####
    {% set e = params.E|default(0.3) %} #edit to your retract length
    #### get VELOCITY parameter if specified ####
    {% if 'VELOCITY' in params|upper %}
      {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
    {%else %}
      {% set get_params = "" %}
    {% endif %}
    ##### end of definitions #####
    _CLEAN_NOZZLE
    G91
    {% if printer.extruder.can_extrude|lower == 'true' %}
      G1 E{e} F2100
    {% else %}
      {action_respond_info("Extruder not hot enough")}
    {% endif %}
    RESUME_BASE {get_params}
    CLEAR_PAUSE